.dvBtn_action{
    display: flex;        
    width:  50px;
    height: 32px;            
    border-radius: 30px;
    align-items: center;
    justify-content: center;    
    border: solid lightgrey 2px;         
}

.dvBtn_action:hover{
    cursor: pointer;
    border: solid rgb(63, 7, 155) 2px;
}


