.dashboard {
    box-sizing: border-box;
    background-color: #fff;
    padding-top: 10rem*0.625;
    padding-bottom: 10rem*0.625;
    width: 100%;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;

    .dashboard-navBar {
        position: fixed;
        width: 100%;
        top: 0px;
        opacity: 0.9;
        z-index: 10;
    }

    .dashboard-footer {
        position: fixed;
        width: 100%;
        bottom: 0px;
        opacity: 0.9;
    }

    .dashboard-container {
        width: 100%;
        min-width: 144rem*0.625;
        margin: 0 auto;
        // border: 1px solid black;
        min-height: 10rem;
        display: flex;
        justify-content: space-between;

        .dashboard-container-left {
            margin: 1rem*0.625;
            min-height: 10rem*0.625;
            min-width: 35.5rem*0.625;
            width: 35.5rem*0.625;

            .dashboard-h1 {
                font-weight: 700;
                font-size: 25px;
                padding: 2rem*0.625 0;
            }

            // .btn-dashboard-filter {
            //     width: 100%;
            //     background-color: #7B93B7;
            // }

            .dashboard-filter {
                text-transform: uppercase;
            }

            .dropdown {
                width: 90%;
            }
        }

        .dashboard-container-left-hidden {
            display: none;
        }

        .dashboard-container-middle {
            margin: 1rem*0.625;
            // border: 1px solid rgb(72, 255, 0);
            min-height: 10rem*0.625;
            min-width: 20rem*0.625;
            width: 100%;
            max-width: 119rem*0.625;
        }

        .dashboard-container-right {
            margin: 1rem*0.625;
            // border: 1px solid rgb(0, 162, 255);
            min-height: 10rem*0.625;
            min-width: 35.5rem*0.625;
            width: 35.5rem*0.625;

            .dashboard-h1 {
                font-weight: 700;
                font-size: 25px;
                padding: 2rem*0.625 0;
            }
        }

        .dashboard-container-right-hidden {
            display: none;
        }
    }

}