.p3-calendar {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;


    .p3-header {
        position: fixed;
        top: 0;
        width: 100%;
        // min-height: 5em;
        background-color: rgb(61, 145, 156);
        padding: 0.5em;
        font-size: 1.5em;
    }

    .p3-main {
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        // justify-content: center;
        padding-top: 10em;
        align-items: center;
        // height: 100vh;

        .p3-month-header {
            display: flex;

            .p3-button {
                margin-left: 0.5em;
                margin-right: 0.5em;
            }
        }

        .p3-month {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(6, 1fr);
            // background-color: brown;
            // height: 100vh;
            border: 1px solid gray;
            gap: 2em;
            min-width: 50em;
            min-height: 30em;
            padding: 2em;

            .p3-day {
                background-color: rgb(255, 207, 153);
                border: 1px solid black;
                min-width: 10em;
                min-height: 4.2em;
                padding: 1em;

                .p3-videos {
                    display: flex;

                    .p3-video {
                        height: 2em;
                        font-size: 1.5em;
                        font-weight: bold;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 2em;
                        border-radius: 50%;
                        border: 1px solid black;
                        background-color: chartreuse;

                        &:hover {
                            background-color: crimson;
                            color: white;
                            cursor: pointer;
                        }
                    }
                }

                &:hover {
                    background-color: brown;
                    cursor: pointer;
                    // color: white;
                }
            }
        }
    }

    .p3-footer {
        position: fixed;
        bottom: 0;
        min-height: 25em;
        width: 100%;
        background-color: rgb(128, 168, 83);
        padding: 0.5em;
        font-size: 1.5em;

        .p3-footer-upper {
            display: flex;
            // flex-direction: column;

            .p3-column {
                display: flex;
                flex-direction: column;

                .p3-row {
                    display: flex;

                    .p3-left {
                        width: 15em;
                    }

                    .p3-right {
                        width: 25em;

                        .p3-link {
                            width: 60em;
                        }
                    }
                }

            }
        }

        .save-button {
            background-color: coral;
        }

        .p3-video-preview {
            padding-top: 5em;
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;

        }
    }
}