.c1-event {
    font-family: 'Roboto', sans-serif;
    width: 33.5rem*0.625;
    height: 12rem*0.625;
    border-top: 1px solid rgb(197, 207, 224);
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0.5rem*0.625;
    justify-content: space-between;
    margin-right: 2.0rem*0.625;

    .c1-datetime {
        font-size: 14px;
        color: #7B93B7;
    }

    .c1-summary {
        font-size: 16px;
    }

    &:hover {
        cursor: pointer;
        margin-right: 0;
        width: 35.5rem*0.625;
    }
}

.c1-event-active {
    font-family: 'Roboto', sans-serif;
    width: 35.5rem*0.625;
    height: 12rem*0.625;
    border-top: 1px solid rgb(197, 207, 224);
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0.5rem*0.625;
    justify-content: space-between;
    margin-right: 2.0rem*0.625;

    .c1-datetime {
        font-size: 14px;
        color: #7B93B7;
    }

    .c1-summary {
        font-size: 16px;
    }

    &:hover {
        cursor: pointer;
        margin-right: 0;
        width: 35.5rem*0.625;
    }
}