/* Logo */
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Prompt:wght@500;600;700;800;900&display=swap');

@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}