.newvideo-main-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(143, 177, 250, 0.75);
    z-index: 5;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pnlVideo {
    width: 410px;
    height: 425px;
    background-color: #DEE4ED;
    height: 425px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    z-index: 10;
}

.pnlHeaderVideo {
    width: 100%;
    height: 50px;
    background-color: #5565E4;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: #DEE4ED 1px solid;
}

.pnlHeaderVideo>h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.btnActions {
    background-color: #FA928F;
    width: 100px;
    height: 30px;
    border-radius: 50px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-family: 'Roboto', sans-serif;
}

.webcams {
    display: flex;
    max-width: fit-content;
}


.btnActions:hover {
    background-color: #f8aeab;
}

.input_description {
    display: flex;
    align-items: center;
    max-width: fit-content;
    /*adapta a largura conforme o objeto interno no caso input*/
    padding: 10px;
    height: 30px;
    border: 1px solid #5565E4;
    border-radius: 999px;
    margin-top: 2px;
}

.input_description>input {
    border: none;
    width: 410px;
    padding: 10px;
    outline: none;
    background-color: transparent;
}